<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit College</h1>
    <div class="col-6 offset-3">
        <form action="/colleges/<%=college._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="college[title]"
                    value="<%=college.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="college[location]"
                    value="<%=college.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input type="file" name="image" id="image" multiple >
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">College Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="college[price]" value="<%=college.price %>"
                        required>\<div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="college[description]"
                    required><%= college.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
              </div>


              <div class="mb-3">
                <% college.images.forEach(function(img, i) {  %>

                <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename  %>">
                </div>
                <label for="image-<%= i %>">Delete?</label>
                <% })%>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update College</button>
            </div>
        </form>
        <a href="/colleges/<%= college._id%>">Back To College</a>

    </div>
</div>